openapi: 3.1.0
info:
  title: Signal Server Accounts Stickers API
  description: The Signal Server API is the backend REST API that supports the Signal Private Messenger applications on Android, Desktop, and iOS. Built as a Dropwizard application, it provides REST controllers for account registration and management, message delivery, pre-key bundle distribution, device provisioning, profile management, and attachment handling. The server handles user registration via phone number verification, encrypted message routing, push notification delivery, and pre-key bundle management. While Signal does not offer an official public REST API for third-party use, the server source code is available for inspection and self-hosting. All communication is end-to-end encrypted using the Signal Protocol.
  version: '2.0'
  contact:
    name: Signal Support
    url: https://support.signal.org/
  termsOfService: https://signal.org/legal/
  license:
    name: AGPL-3.0
    url: https://github.com/signalapp/Signal-Server/blob/main/LICENSE
servers:
- url: https://chat.signal.org
  description: Signal Production Server
security:
- basicAuth: []
tags:
- name: Stickers
  description: Sticker pack management endpoints for uploading and retrieving sticker packs.
paths:
  /v1/sticker/pack/form/{packSize}:
    get:
      operationId: getStickerPackUploadForm
      summary: Get sticker pack upload form
      description: Returns a pre-signed upload form for uploading a sticker pack with the specified number of stickers.
      tags:
      - Stickers
      parameters:
      - name: packSize
        in: path
        required: true
        description: The number of stickers in the pack.
        schema:
          type: integer
          minimum: 1
          maximum: 200
      responses:
        '200':
          description: Upload form returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StickerPackUploadForm'
        '401':
          description: Authentication required
components:
  schemas:
    StickerPackUploadForm:
      type: object
      properties:
        packId:
          type: string
          description: The identifier for the sticker pack.
        manifest:
          $ref: '#/components/schemas/AttachmentUploadForm'
        stickers:
          type: array
          description: Upload forms for each sticker in the pack.
          items:
            $ref: '#/components/schemas/AttachmentUploadForm'
    AttachmentUploadForm:
      type: object
      properties:
        cdn:
          type: integer
          description: The CDN number to use for the upload.
        key:
          type: string
          description: The object key for the attachment.
        headers:
          type: object
          description: HTTP headers to include in the upload request.
          additionalProperties:
            type: string
        signedUploadLocation:
          type: string
          format: uri
          description: The pre-signed URL for uploading the attachment data.
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using the account UUID (or phone number) and password. The password is established during account registration.
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication used for certain provisioning and registration flows.
externalDocs:
  description: Signal Server Source Code
  url: https://github.com/signalapp/Signal-Server
