---
title: "Introducing Automatic Key Verification"
url: "https://signal.org/blog/automatic-key-verification/"
date: "2026-08-11"
feed_url: "https://signal.org/blog/rss.xml"
---
Signal now offers a feature called “automatic key verification” which complements the existing safety number system . Signal is always end-to-end encrypted, and automatic key verification provides an additional, streamlined way to confirm that there’s no unexpected party between you and the other “end” of an end-to-end encrypted session. Read more...
